<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <script id="webmention-hosted">
          (function () {
          var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
          url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
          url = url && url[0] ? url[0].href : false;
          sn.type = "text/javascript"; sn.async = true;
          sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
          s.parentNode.insertBefore(sn, s);
          }());
        </script>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
